# Environment
.env
*.env
!*.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/
*.egg-info/
dist/
build/
staticfiles/

# Node
node_modules/
dist/
*.local

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Docker
postgres_data/

# Logs
*.log
